
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$appAngular8-primary: mat-palette($mat-indigo);
$appAngular8-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$appAngular8-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$appAngular8-theme: mat-light-theme($appAngular8-primary, $appAngular8-accent, $appAngular8-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($appAngular8-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$appAngular8-primary: mat-palette($mat-indigo);
$appAngular8-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$appAngular8-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$appAngular8-theme: mat-light-theme($appAngular8-primary, $appAngular8-accent, $appAngular8-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($appAngular8-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header { 
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    p {
        background-color: #eee;
        padding: 1em;
        margin: 0;
    }
    .logo {
        margin: auto;
        margin-top: -40px;
        display:block;
        position: relative;
    }
}

app-posts, app-albums, app-todos {
  display: block;
  width: 1200px;
  margin: auto;
  margin-top: 165px;
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    .mat-card {
      z-index: -1;
    } 
  }
}

app-todos {
  .mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

footer { 
    background-color: #eeeeee;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    position: fixed;
    bottom: 0;
    a {
        color: #000;
        font-weight: 600;
    }
}